html{
    --color-fondo: #333333;
    background-color: #252525;
  background-size: cover;
	background-repeat:no-repeat;
	background-position:50% 0%;
  background-attachment: fixed;
	text-align: center;
	/* font-family: 'Courier New', monospace; */
	font-family: Arial, sans-serif;
}
body {
	margin: 0;
}

.todo {
	  background-color: var(--color-fondo);
	  border-style: solid;
	  border-width: 8px;
    border-color: var(--color-fondo);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 6%;
    margin-bottom: 20%;
}

ul {
	position: fixed;
	list-style-type: none;
	top: 0;
	margin: 1%;
	padding: 0;
	overflow: auto;
	background: var(--color-fondo);
	width: 98%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li {
	text-align: center;
}

ul li .navItem{
    display: block;
}

#wether {
    float: right;
    color: #C1C1C1;
}

#dia {
	  font-size: 110px;
    font-weight: 100;
    color: #C1C1C1;
}

#horaFecha {
	  font-size: 55px;
	  font-weight: 300;
	  color: #C1C1C1;
	  margin-bottom: 30px;
}

.link {
	  font-size: 25px;
    font-weight: 400;
    width: 45%;
    margin-top: 2%;
    margin-right: 5%;
}

.container {
	  display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    margin-left: 10%;
    margin-right: 10%;
}

p {
    text-align: left;
    color: #b2b2b2;
}

.containerCorona {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

a:hover {
	background-color: #161616;
}

a {
    text-decoration: none;
    color: #C1C1C1;
    text-align: center;
}

.navItem {
	font-size: 18px;
	padding: 8px 16px;
}

.search{
	width: 70%;
	background: none;
	padding: 1em;
	margin: 0.8em;
	border: none;
	border-bottom: 1px solid #C1C1C1;
	color: #C1C1C1;
	letter-spacing: 1px;
}

.margin1 {
	  margin-top: 10%;
    margin-bottom: 10%;
}

#cont {
    width: 30%;
}

#loader {
    top: 50%;
    margin-left: 40%;
    border: 16px solid var(--color-fondo);
    border-radius: 50%;
    border-top: 16px solid #b2b2b2;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 591px) and (max-width: 1440px) {
    ul {
        width: 100%;
        height: auto;
        /*position: relative;*/
        flex-direction: row;
        background: var(--color-fondo);
    }

    ul li .navItem{
        float: left;
        padding: 15px;
    }

    .todo {
      margin-top: 13%;
    }

  .navItem {
    font-size: 13px;
  }

  #dia {
    font-size: 70px;
  }

  #horaFecha {
    font-size: 40px;
  }
}

@media screen and (max-width: 590px){
    ul li .navItem {
        text-align: center;
        float: none
    }

    ul{
        position: static;
        width: 100%;
        height: auto;
        flex-direction: column;
        background: var(--color-fondo);
    }

    .todo {
        margin-top: 70%;
        width: 50%;
    }

    #dia {
        font-size: 45px;
    }

    #horaFecha {
        font-size: 20px;
        margin-bottom: 5px;
    }

    #link {
      margin-top: 4%;
      font-size: 20px;
      width: 100%;
    }

    .container {
        flex-direction: column;
    }
}
