html {
	background-image: url("../images/forest-wallpaper.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-color: #252525; /*Nero*/
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#dia {
	font-size: 100px;
    color: #4156C5; /*Free Speech Blue*/
}
#horaFecha {
	font-size: 60px;
	color: #cc3333; /*Persian Red*/
}
#searchbox_demo {
	margin: 1px;
	border: 1px;
}
a {
	text-decoration: none;
	color: #cc3333; /*Persian Red*/
	font-size: 30px;
}
a:hover {
	color: #794D60; /*Cosmic*/
}
p {
	font-size: 50px;
	color: #cc3333; /*Persian Red*/
}
.search{
	width: 70%;
	background: none;
	padding: 1em;
	margin: 0.8em;
	border: none;
	border-bottom: 1px solid #cc3333; /*Persian Red*/
	color: #cc3333; /*Persian Red*/
	letter-spacing: 1px;
}
.links {
	column-count: 2;
	column-rule-width: 1px;
	width: 500px;
	margin: auto;
}
.todo {
	background-color: #252525; /*Nero*/
	display: inline-block;
	border-style: solid;
	border-width: 8px;
}
